.user-component {
  justify-content: space-between;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  /* padding: 10px 10px; */
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__tilte {
  font-size: 22px;
  font-weight: 600;
}
.user-component__subtilte {
  color: rgba(0, 0, 0, 0.8);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 40%;
}

.user-component__tilte--not-bold {
  font-weight: 400;
}
